
body {
    background-image: url('/static/img/image.png');
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    margin: 0;
    padding: 0;
}

.content {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


h1 {
    text-align: center;
    color: #000000;
    font-size: 36px;
    margin-bottom: 20px;
}



    @media (min-width: 700px){
        table {
            width: 100%;
            border-collapse:separate;
            margin-bottom: 20px;
        
    }
    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    
    
    
    input[type="text"] {
        flex-grow: 1;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    
    form {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }
    
}


